<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <br>

    <script type="text/javascript">
      var btn = document.createElement("button");
      btn.innerHTML = "Click Me";

      btn.onclick = function(){
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/postmethod/evgenii", false);
        xmlHttp.send( null );
        console.log(xmlHttp.responseText)
        window.open(xmlHttp.responseText, '_blank');
      }


      document.body.appendChild(btn);
    </script>


  </body>
</html>
